@import "Variables";

@keyframes border {
  from {box-shadow: none}
  to {box-shadow: inset 0 0 15px 1px $accentWhite, 0 0 15px 7px $accentBlue}
}

canvas {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.aboutMeContainer {
  display: grid;  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  > div {
    background-color: $secondaryColor;
    justify-self: center;
    border-radius: 10px;
    margin-bottom: 100px;
    font-size: 25px;
    > p {
      font-size: 30px;
    }
  }
  .monologue, .insideAboutMe {
    display: grid;
    justify-self: center;
    justify-content: center;
    transition: calc($transitionTime * 2.5);
    animation: border calc($transitionTime * 2.5) ease-in 1 forwards;
    &:hover {
      box-shadow: inset 0 0 20px 1px $accentWhite, 0 0 20px 7px $accentBlue;
    }
    h2 {
      justify-self: center;
      margin: 0px;
      height: fit-content;
    }
  }
  .monologue {
    grid-template-columns: auto 1fr;
    grid-area: 1 / 1 / 2 / 3;
    width: 80%;
    height: fit-content;
    justify-self: center;
    padding: 20px;
    > div {
      display: grid;
      justify-items: center;
      align-content: space-around;
      > p {
        margin: 0px;
      }
    }
    img {
      width: 300px;
    }
    p {
      width: 90%;
      justify-self: center;
    }
  }
  .insideAboutMe {
    align-items: center;
    width: 75%;
    height: 700px;
    font-size: 30px;   
    grid-template-rows: repeat(6, 100px);
    h3 {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      box-sizing: border-box;
      border: 10px solid $secondaryColor;
      span {
        &:nth-child(1) {
          justify-self: start;
        }
        &:nth-child(2) {
          justify-self: end;
        }
      }
    }
    ul {
      display: grid;
      grid-template-rows: repeat(10, 1fr);
      width: 300px;
      // height: 400px;
      align-self: start;
      li {
        font-size: 40px;
        text-align: center;
      } 
    }
  }
}