@import "Variables";

.container {
  background-color: $backgroundColor;
  align-items: center;
}

.hero {
  display: grid;
  width: fit-content;
  height: 300px;
  justify-self: center;
  align-items: space-between;
  color: white;
  font-size: 60px;
  &:hover .word:not(:hover) {
    opacity: 0.25;
  }
}

.line {
  display: flex;
  justify-content: center;
  height: 50px;
  a {
    text-decoration: none;
    transition: $transitionTime;
  }
}

.word {
  transition: $transitionTime;
  opacity: 1;
  &:not(:hover) {
    color: white;
  }
}

p {
  margin: 0px;
  color: white;
}