$backgroundColor: #1F1F1F;
$secondaryColor: #2D2D2D;
$accentYellow: #FFB900;
$accentPink: #FF2D55;
$transitionTime: 0.2s;

.container {
  height: 100vh;
  display: grid;
  background-color: $backgroundColor;
  h2 {
    color: white;
    font-size: 70px;
    justify-self: center;
    align-self: flex-end;
  }
}

.hero {
  display: grid;
  width: fit-content;
  height: 300px;
  justify-self: center;
  align-self: center;
  color: white;
  justify-items: space-between;
  font-size: 60px;
  &:hover .word:not(:hover) {
    opacity: 0.25;
  }
}

.line {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 50px;
  a {
    text-decoration: none;
    transition: $transitionTime;
  }
}

.word {
  transition: $transitionTime;
  opacity: 1;
  &:not(:hover) {
    color: white;
  }
}

p {
  margin: 0px;
  color: white;
}