@import "Variables";

.container {
  display: grid;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 100px;
}

/* ---------------- First text thats displayed on the screen ---------------- */

.intro {
  display: grid;
  justify-self: center;
  width: 75%;
  p {
    box-shadow: inset 0 0 15px 1px $accentWhite, 0 0 15px 7px $accentBlue;
    margin: 20px;
    justify-self: center;
    background-color: $secondaryColor;
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
    animation: border ;
  }
}

/* ------------ Div that wraps all the boxes with images and text ----------- */

#box-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  row-gap: 120px;
  .active {
    opacity: 1;
    transform: translateX(0);
  }
  .slide-in { 
    opacity: 1;
    // transition: $transitionTime;
    &:nth-child(odd) {
      transform: translateX(0);
      box-shadow: 10px 10px 10px $accentWhite, 20px 20px 20px $accentBlue;
      translate: -15px -15px;
      &:hover {
        box-shadow: 13px 13px 13px $accentWhite, 25px 25px 25px $accentBlue;
      }
    }
    &:nth-child(even) {
      transform: translateX(0);
      box-shadow: -10px 10px 10px $accentWhite, -20px 20px 20px $accentBlue;
      translate: 15px -15px;
      &:hover {
        box-shadow: -10px 10px 13px rgb(185, 185, 185), -25px 25px 20px $accentBlue;
      }
    }
  }
}

/* ---------- Styles for all the boxes that contain images and text --------- */

.boxes {
  display: flex;
  justify-self: center;
  position: relative;
  box-sizing: border-box;
  background-color: $secondaryColor;
  padding: 20px;
  border-radius: 10px;
  transition: calc($transitionTime * 2.5);
  a {
    color: $accentWhite;
    transition: $transitionTime;
  }
  &:hover h1 {
    opacity: 1;
  }
  &:hover img {
    filter: brightness(0.7);
    border: 15px double lighten(rgb(255, 255, 255), 7%);
    box-shadow: 0px 0px 15px 5px rgb(73, 226, 226);
  }
  h1 {
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    margin: 0px;
    white-space: nowrap;
  }
  img {
    box-sizing: border-box;
    border-radius: 10px;
    width: 340px;
    height: 340px;
    border: 10px double  $secondaryColor;
    transition: $transitionTime;
  }
}

@media screen and (max-width: 775px) {
  .boxes {
    img {
      width: 90%;
      height: auto;
      border: none;
      &:hover {
        border: none;
      }
    }
    &:nth-child(odd) {
      flex-direction: column-reverse;
    }
  }
}



